:root {
    --content-color: #333333;
    --background-color: #dddddd;
    --disabled-color: #999999;
}
@media (prefers-color-scheme: dark) {
    :root {
        --content-color: #dddddd;
        --background-color: #333333;
        --disabled-color: #555555;
    }
}
html, body {
    font-size: 10px;
    color: var(--content-color);
    background-color: var(--background-color);
}
p, h1, h2, h3, h4, h5, h6, a {
    color: var(--content-color);
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 3.5rem;
}
p {
    font-size: 1.5rem;
}
a {
    font-style: oblique;
    font-size: 1.5rem;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header, section {
    margin: 0;
    padding: 1rem 5rem;
}
.template-div {
    margin: 0.5rem 1rem;
    padding: 0;
}
.template-div p {
    margin: 0.5rem 0;
    padding: 0;
    cursor: pointer;
    width: fit-content;
}
.template-div p:hover {
    color: var(--background-color);
    background-color: var(--content-color);
}
main {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
    padding: 0;
}
img {
    aspect-ratio: 1;
    object-fit: contain;
    width: 30vw;
    border: 1px solid var(--content-color);
    align-self: center;
}
#input-view {
    cursor: pointer;
}
#convert-option {
    width: 25vw;
    font-size: 1.5rem;
}
#convert-option p, .option-div p {
    margin: 0.5rem 0 0 0;
    padding: 0;
}
.option-div {
    margin: 4rem 0;
    padding: 0;
}
.hide-content {
    display: none;
}
.background-filter {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 50;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-message-div {
    z-index: 100;
    margin: 0;
    padding: 1.5rem;
    display: block;
    width: fit-content;
    color: var(--content-color);
    background-color: var(--background-color);
}
.error-message-div p, .error-message-div a {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 1.5rem 0.5rem;
}
.close-button {
    cursor: pointer;
    border: 1px solid var(--content-color);
}
.close-button:hover {
    color: var(--background-color);
    background-color: var(--content-color);
}

input:disabled {
    cursor: not-allowed;
}

input[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    width: 4rem;
    margin: 0.5rem 2rem 0 0;
    padding: 0.5rem;
    background-color: var(--background-color);
    border: 1px solid var(--content-color);
    outline: none;
    color: var(--content-color);
    text-align: right;
    font-weight: bold;
}
input[type="number"]:focus {
    color: var(--background-color);
    background-color: var(--content-color);
}
input[type="number"]:disabled {
    color: var(--disabled-color);
    border: 1px solid var(--disabled-color);
}

.radioItem {
    display: inline-flex;
    align-items: center;
    column-gap: 0;
    line-height: 1;
    cursor: pointer;
}
.radioItem:not(:last-of-type) {
    margin-right: 16px;
}
.radioButton {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid var(--content-color);
    border-radius: 9999px;
    cursor: pointer;
}
.radioButton:checked::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 15px;
    height: 15px;
    margin: auto;
    border-radius: 9999px;
    background-color: var(--content-color);
}
.checkboxItem {
    display: flex;
    align-items: center;
    column-gap: 4px;
    width: fit-content;
    line-height: 1;
    cursor: pointer;
}
.checkboxItem:not(:last-of-type) {
    margin-bottom: 16px;
}
.checkbox {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid var(--content-color);
    cursor: pointer;
}
.checkbox:checked {
    background-color: var(--content-color);
}
.checkbox:checked::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 3px;
    width: 12px;
    height: 6px;
    border-bottom: 2px solid var(--background-color);
    border-left: 2px solid var(--background-color);
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    html, body {
        font-size: 8px;
    }
    header, section {
        margin: 0;
        padding: 1rem;
    }
    p {
        display: inline-block;
    }
    img {
        width: 45vw;
    }
    #convert-option {
        width: 90vw;
        font-size: 1.5rem;
    }
    input[type="number"] {
        width: 6rem;
    }
}