:root {
    --content-color: #222222;
    --background-color: #dddddd;
    --alert-color: #ff0000;
}
@media (prefers-color-scheme: dark) {
    :root {
        --content-color: #dddddd;
        --background-color: #222222;
    }
}
html, body {
    font-size: 10px;
    color: var(--content-color);
    background-color: var(--background-color);
}
header {
    margin: 0;
    padding: 1rem;
}
header h1 {
    font-size: 3.5rem;
}
header p, header a {
    font-size: 1.5rem;
}
main {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6, a {
    color: var(--content-color);
    margin: 0;
    padding: 0;
}
a {
    font-style: oblique;
}
img {
    aspect-ratio: 1;
    object-fit: contain;
    width: 30vw;
    border: 1px solid var(--content-color);
}
#input-view {
    cursor: pointer;
}
#convert-option {
    width: 25vw;
    font-size: 1.5rem;
}
.option-div {
    margin: 2rem 0;
    padding: 0;
}
.hide-content {
    display: none;
}
.background-filter {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 50;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-message-div {
    z-index: 100;
    margin: 0;
    padding: 1.5rem;
    display: block;
    width: fit-content;
    color: var(--content-color);
    background-color: var(--background-color);
}
.error-message-div p, .error-message-div a {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 1.5rem 0.5rem;
}
.close-button {
    cursor: pointer;
    border: 1px solid var(--content-color);
}

/* ラジオボタン */
.radioItem {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
    line-height: 1;
    cursor: pointer;
}
.radioItem:not(:last-of-type) {
    margin-right: 16px;
}
.radioButton {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 9999px;
    cursor: pointer;
}
.radioButton:checked::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 15px;
    height: 15px;
    margin: auto;
    border-radius: 9999px;
    background-color: #000000;
}

/* チェックボックス */
.checkboxItem {
    display: flex;
    align-items: center;
    column-gap: 4px;
    width: fit-content;
    line-height: 1;
    cursor: pointer;
}
.checkboxItem:not(:last-of-type) {
    margin-bottom: 16px;
}
.checkbox {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    cursor: pointer;
}
.checkbox:checked {
    background-color: #000000;
}
.checkbox:checked::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 3px;
    width: 12px;
    height: 6px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transform: rotate(-45deg);
}